@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.rodape{
    background-color: #000080;
    color: #FFFFFF;
    font-family: "Roboto", serif;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.rodape__redes_sociais{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rodape__redes_sociais img{
    height: 37.5px;
    transition: transform .5s;
}

.rodape__redes_sociais img:hover{
    transform: scale(1.2);
}

.rodape__logotipo{
    width: 48px;
    height: 21.5px;
}

@media(max-width: 768px){

    .rodape{
        padding: 10px;
    }

    .rodape__logotipo{
        width: 48px;
        height: 21.5px;
    }

    .rodape__redes_sociais p{
        display: none;
    }

    .rodape__redes_sociais img{
        height: 25px;
    }
}