@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px 10px;
    font-family: "Roboto", serif;
    font-size: medium;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: white;
    z-index: 1000; 
}

.cabecalho__logotipo{
    width: 10vw;
    max-width: 226px;
    min-width: 113px;
}

.cabecalho__menu_navegacao{
    align-items: center;
    
}

.cabecalho__menu_navegacao__link{
    float: left;
    display: block;
    text-decoration: none;
    margin: 0px 20px;
    color: #0000CD;
}

@media(max-width: 768px){

    .cabecalho{
        align-items: center;
        padding: 5px 5px;
        font-size: small;
    }
    
    .cabecalho__menu_navegacao{
        flex: 1;
    }

    .cabecalho__menu_navegacao__link{
        float: none;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}