@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 10px;
    font-family: "Roboto", serif;
    font-size: larger;
    box-sizing: border-box;
    width: 100%;
}

.cabecalho__logotipo{
    width: 10vw;
    max-width: 226px;
    min-width: 113px;
}

.cabecalho__menu_navegacao{
    align-items: center;
    
}

.cabecalho__menu_navegacao__link{
    float: right;
    display: block;
    text-decoration: none;
    margin: 0px 20px;
    color: #0000CD;
}

@media(max-width: 520px){

    .cabecalho{
        align-items: center;
    }
    
    .cabecalho__menu_navegacao{
        flex: 1;
    }

    .cabecalho__menu_navegacao__link{
        float: none;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}