@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.principal_lancamento{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto", serif;
    font-size: large;
    padding-top: 73.75px;
}

.principal_lancamento__video{
    height: 35vh;
    width: 40%;
}

.principal_lancamento__carros{
    display: flex;
    justify-content: space-evenly;
}

.principal_lancamento__carros__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 50px;
    width: 25%;
}

.principal_lancamento__carros__card__imagem_carro{
    width: 240px;
}

.principal_lancamento__carros__card__imagem_info{
    height: 24px;
    
}

.principal_lancamento__carros__card strong{
    color: #0000CD;
}



.principal_lancamento__carros__card__checkbox{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.principal_lancamento__botao_comparar{
    background-color: #0000CD;
    color: #FFFFFF;
    font-size: medium;
    width: 200px;
    padding: 10px 0;
    border-radius: 15px;
}