@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.principal_lancamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", serif;
    font-size: x-large;
    gap: 3.5vh 0;
}

.principal_lancamento__video{
    height: 35vh;
    width: 100%;
}

.principal_lancamento__carros{
    display: flex;
    justify-content: space-evenly;
}

.principal_lancamento__carros__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 50px;
    width: 25%;
}

.principal_lancamento__carros__card__imagem_carro{
    width: 10vw;
    max-width: 640px;
    min-width: 160px;
}

.principal_lancamento__carros__card__imagem_info{
    height: 36px;
    
}

.principal_lancamento__carros__card strong{
    color: #0000CD;
}

.principal_lancamento__carros__card__checkbox input{
    width: 50px;
}

.principal_lancamento__carros__card__checkbox{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.principal_lancamento__botao_comparar{
    background-color: #0000CD;
    color: #FFFFFF;
    font-size: x-large;
    width: 300px;
    padding: 15px 0;
    border-radius: 15px;
}