.principal_contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5%;
}

.principal_contato__form{
    display: flex;
}

.principal_contato__form__campos{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.2);
    padding: 6px;
    width: 300px;
}

button{
    padding: 5px 0;
    width: 150px;
    position: relative;
    left: 50%;
}