.principal_contato{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.principal_contato__form{
    display: flex;
}

.principal_contato__form__campos{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.2);
    padding: 6px;
    width: 200px;
}

button{
    background-color: #0000CD;
    color: #FFFFFF;
    font-size: small;
    padding: 5px 0;
    width: 100px;
    border-radius: 5px;
    position: relative;
    left: 50%;
}

@media(max-width: 768px){
    .principal_contato{
        flex-direction: column;
        padding-top: 95px;
        padding-bottom: 15px;
    }

    .principal_contato__form__imagem{
        width: 250px;
    }
}