@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.principal_home{
    display: grid;
    place-items: center;
}

.principal_home__conteudo{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 3.5vh;
    padding-top: auto;
    padding-bottom: auto;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-size: x-large;
}

.principal_home__conteudo__imagem{
    width: 80vw;
}

@media(max-width: 768px){
    .principal_home__conteudo{
        font-size: small;
    }
}

@media(max-width: 320px){
    .principal_home__conteudo{
        font-size: x-small;
    }
}