.principal_contato{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 15px;
}

.principal_contato__form{
    display: flex;
}

.principal_contato__form__campos{
    display: none;
    flex-direction: column;
    gap: 6px;
}


.fordform {
    display: block;
    width: 310px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 36px;
    margin: 8px 0;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: left;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    background-color: #0000CD;
    color: #FFFFFF;
    font-size: small;
    padding: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    
}

.titulo {
    margin-left: 8px;
}

@media(max-width: 768px){
    .principal_contato{
        flex-direction: column;
        padding-top: 95px;
        padding-bottom: 15px;
    }

    .principal_contato__form__imagem{
        width: 250px;
    }
}