@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.principal_home {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.principal_home__conteudo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    row-gap: 3vh;
    font-family: "Roboto", serif;
    font-size: large;
}

.carousel-container{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform .9s;
}

.carousel-container:hover{
    transform: scale(1.03);
}

.button {
    background-color: #000080;
    color: #ffffff;
    height: 45px;
    width: 30px;
    opacity: 0.85;
    border-radius: 10px;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}

.carousel {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .carousel a{
    text-decoration: none;
    color: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel:hover{
    
}


.image{
    width: 80vw;
}



@media(max-width: 768px){
    .principal_home__conteudo{
        font-size: small;
    }
}

@media(max-width: 320px){
    .principal_home__conteudo{
        font-size: x-small;
    }
}